.idea/
.vscode/
*.DS_Store

src/
local/
test/api/node_modules
test/api/.justapi_reports
test/api/db.json
!test/specs
test/specs/logs/
test/specs/*.html
test/specs/*.json
node_modules/
docs/site/
logs/
*.txt
*.html
*.log
report.json